name: docs_pages_workflow

on:
  push:
    branches: 
      - main
      - feature/doxygen_doc
      - doc

jobs:

  build_docs_job:
    runs-on: ubuntu-latest
    container: debian:buster-slim

    steps:

    - name: Checkout
      uses: actions/checkout@v3
    - name: Execute script to build our documentation and update pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: "docs/buildDocs.sh"
      shell: bash
